
@{
    ViewBag.Title = "Not Enrolled";
}

<h2>You aren't enrolled. Enroll to view the course.</h2>

<button class="btn btn-default" type="submit" id="addressSearch" value="Sign Up"
        onclick="location.href = '@Url.Action("Index", "Course")'">
    Return
</button>