@{
    ViewBag.Title = "About";
}
<hgroup>
    <h2>@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>
</hgroup>
<div class="row-fluid">
    <div class="span12">
        <p> Learn For Life is a Learning Management System for both teachers and students.
            The goal of Learn For Life is to provide an interface for students to learn in a fun and interactive manner as well as
            provide a place for students and teachers to communicate with one another. Teachers are able to upload their courses,
            manage their grades, communicate with their students and continually add fun material to their courses.</p>
    </div>
</div>