@{
    ViewBag.Title = "Home Page";

}

<div class="jumbotron">
    <h3>Learn For Life</h3>
</div>



<h1>Welcome to Learn For Life!</h1>
<p>We currently have several coures available! View the courses tab to check them out, and check back
    periodically for more!</p>
<h2>News!</h2>
<p>Celebrating the initial release of Learn For Life! Learn For Life is a Learning Management System.
    The mission of Learn For Life is to inspire others to learn. Learn For Life is constantly 
    being improved and worked upon, so make sure you check in frequently!</p>
<h3>In Need Of Instructors and Administrators!</h3>
<p>Hello all! I am looking for anyone who wants to instruct to come on board, as well as any other
    developers who are interested in making this application the best it can be! </p>