@model LFL.Models.Course

@{
    ViewBag.Title = "Enroll";
}

<h2>Enroll</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
   

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Enroll" class="btn btn-default" />
            </div>
        </div>
    
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
